footer {
    width: 100%;
    background-color: #4E2A84;
    color: whitesmoke;
    padding: 20px 40px;
}
.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-left, .footer-center, .footer-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.button {
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
}
.footer-center {
    flex: 1;
    justify-content: center;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}
.footer.footer-link.button:first-child {
    background-color: #C9A0DC;
}
.footer.footer-link.button:last-child {
    background-color: #C9A0DC;
}

.footer-link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}