/*nav-bar nav-name title nav-list header link */


* {
    box-sizing: border-box;
}
.nav-bar {
    width: 100%;
    background-color: #4E2A84;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}
.nav-name {
    color: whitesmoke;
    font-weight: normal;
    font-size: 35px;
    margin: 0;
    padding-right: 75px;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 0px;
    margin: 0;
    padding: 0px;
}
.nav-list a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
}
.nav-list a:hover {
    text-decoration: wavy;
}