.profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
    padding: 10px;
    background-color: #F2F0EF;
    flex-grow: 1;
    flex: 2;
    box-sizing: border-box;
    justify-items: center;
    justify-content: space-between;
}
.profilebox {
    display: flex;
    max-width: 300px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    background-color: #B6ACD1;
    padding: 18px;
    border-radius: 25px;
    border: 1px solid #4E2A84;
    cursor: pointer;
}
.profilebox.favorited {
    background-color: plum;
    border: 2px solid #4E2A84; 
}
.profilebox img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #4E2A84;
    margin-bottom: 8px;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    gap: 4px;
    width: 100%;
    text-align: center;
    align-items: center;
}
.profile-name {
    font-weight: bold;
    font-size: 30px;
    color: #4E2A84;
    margin-top: 0;
    padding-bottom: 10px;
}
.profile-info {
    color: whitesmoke;
    font-size: 20px;
    width: 100%;
}
.container {
    display: grid;
    flex-direction: column;
}