.main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F0EF;
    min-height: 60vh;
}
.sec-1-3 {
    flex: 1;
    padding: 30px;
    background-color: #F2F0EF;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    border-bottom: 1px solid black;
}
.sec-1-3 img:first-of-type {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    border: 2px solid black;
}
.sec-1-3 h2 {
    font-size: 30px;
    color: #4E2A84;
    margin-left: 15px;
}
.sec-1-3 img:last-of-type {
    width: 140px;
    height: auto;
    margin-left: auto;
}